@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: roboto-bold;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/src/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: clamp(100vh, 100vh, auto);
}

#root {
  width: 100%;
  height: 100%;
}
